@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Base Styles */
:root {
  --primary-color: rgb(0, 37, 57);
  --secondary-color: rgb(64, 98, 131);
  --accent-color: rgb(55, 88, 249);
  --accent-border-color: rgba(55, 88, 249, 0.2);
  --background-color: rgb(255, 255, 255);
}

html {
  font-size: 1rem;
  scroll-behavior: smooth;
  scroll-padding-top: 60px; /* ajuste conforme a altura do seu menu */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  line-height: auto;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}

/* Layout Styles */

.full-height {
  height: 100vh;
}

/* Typography Styles */

.poppins {
  font-family: "Poppins", sans-serif;
}
.open-sans {
  font-family: "Open Sans", sans-serif;
}

.heading-primary {
  font-size: 3rem;
}
.heading-secondary {
  font-size: 2.5rem;
}

.heading-tertiary {
  font-size: 1.5rem;
}

.heading-quaternary {
  font-size: 1.125rem;
}

.text-regular {
  font-size: 1rem;
}

.regular {
  font-weight: 400;
}
.semi-bold {
  font-weight: 600;
}
.bold {
  font-weight: 800;
}

.crossed {
  text-decoration: line-through;
}

/* Color Styles */
.text-primary {
  color: var(--primary-color);
}
.text-secondary {
  color: var(--secondary-color);
}
.text-accent {
  color: var(--accent-color);
}
.text-white {
  color: #ffffff;
}

/* Background Styles */
.bg-accent {
  background-color: var(--accent-color);
}
.bg-white {
  background-color: var(--background-color);
}

/* Border Styles */
.border-accent {
  border: 2px solid var(--accent-color);
}
.border-accent-light {
  border: 2px solid var(--accent-border-color);
}

/* Spacing Styles */
.mt-small {
  margin-top: 0.75rem;
}
.mt-medium {
  margin-top: 1.5rem;
}
.mt-large {
  margin-top: 2.25rem;
}
.mb-small {
  margin-bottom: 0.75rem;
}
.mb-medium {
  margin-bottom: 1.5rem;
}
.mb-large {
  margin-bottom: 2.25rem;
}
.mr-small {
  margin-right: 0.75rem;
}
.mr-medium {
  margin-right: 1.5rem;
}
.mr-large {
  margin-right: 2.25rem;
}
.ml-small {
  margin-left: 0.75rem;
}
.ml-medium {
  margin-left: 1.5rem;
}
.ml-large {
  margin-left: 2.25rem;
}
.mt-auto {
  margin-top: auto;
}
.mb-auto {
  margin-bottom: auto;
}
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.m-0 {
  margin: 0;
}
.m-small {
  margin: 0.75rem;
}
.m-medium {
  margin: 1.5rem;
}
.m-large {
  margin: 2.25rem;
}
.m-auto {
  margin: auto;
}

.p-medium {
  padding: 1.5rem;
}

.border-radius {
  border-radius: 8px;
}

/* Tablet paisagem (≤1199px) */
@media (max-width: 1199px) {
  body {
    max-width: 1199px;
    margin: 0 auto;
    padding: 0 5px;
  }
}

/* Tablet retrato (≤991px) */
@media (max-width: 991px) {
  html {
    font-size: 14px;
  }
  body {
    max-width: 991px;
    margin: 0 auto;
    padding: 0 5px;
  }
}

/* Mobile grande (≤767px) */
@media (max-width: 767px) {
  body {
    max-width: 767px;
    margin: 0 auto;
    padding: 0 5px;
  }
}

/* Mobile pequeno (≤479px) */
@media (max-width: 479px) {
  body {
    max-width: 479px;
    margin: 0 auto;
    padding: 0 5px;
  }
}
